/*************************** FONTS ***************************/

@font-face {
  font-family: 'Open Sans';
  src: url('fonts/OpenSans-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Open Sans Bold';
  src: url('fonts/OpenSans-Bold.ttf') format('truetype');
}

/*************************** SETUP ***************************/

* {
  text-align: center;
  font-family: Open Sans, sans-serif;
  /*background-color: var(--bg);*/
  margin: 0;
  cursor: auto;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

/*************************** TOP MENU BAR ***************************/

@media only screen and (orientation: landscape) {
  body {
    background-color: lightblue;
  }
}

@media only screen and (orientation: portrait) {
  body {
    background-color: red;
  }
}


#text {
  display: none;
}

#button {
  display: block;
  width: 10vw;
  margin: auto;
  border-style: solid;
  font-size: 2vw;
  padding: 3vw;
}

#btn {
  display: block;
  width: 60vw;
  margin: auto;
  border-style: solid;
  border-color: transparent;
  margin: 1vw;
}

#btn a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 4.5vw;
  height: 4.5vw;

  font-size: 3vw;
  border-style: solid;
  border-width: 0.2vw;
  border-radius: 0.5vw;

  margin-right: 0.2vw;
}