/*************************** DARK MODE COLORS ***************************/

:root {

  --bg-d: #121123;

  --toggle-d: #2b2b45;

  --new-game-bkg-d: #2b2b45;
  --new-game-txt-d: #b8b5ee;

  --new-game-menu-txt-d: #53517f;
  --new-game-menu-bkg-d: #121123;
  --new-game-menu-out-d: #262641;
  --new-game-menu-hov-d: #262641;

  --done-bkg-d: #121123;
  --done-txt-d: #44c896;
  --done-out-d: #233e46;
  --done-hov-d: #233e46;

  --popup-bkg-d: #21213a;
  --popup-txt-d: #53517f;

  --btn-out-d: #262641;
  --btn-hov-d: #262641;
  --btn-txt-d: #53517f;

  --color-0-d: #535346;
  --color-1-d: #0d395e;
  --color-2-d: #401b47;
  --color-3-d: #580d33;

  --sudoku-out-tiles-d: #242b3d;
  --sudoku-out-board-d: #53517f;

  --sudoku-tile-fill-0-d: #121123;
  --sudoku-tile-fill-1-d: #1b1b32;
  --sudoku-tile-text-0-d: #44c896;
  --sudoku-tile-text-1-d: #b8b5ee;
  --sudoku-tile-text-err-d: #f53b57;

  --sudoku-selector-d: #44c896;

  --sudoku-out-guess-0-d: #171627;
  --sudoku-out-guess-1-d: #53517f;

/*************************** LIGHT MODE COLORS ***************************/

  --bg-l: #fdfdfd;

  --toggle-l: #d8d8d8;

  --new-game-bkg-l: #ebebeb;
  --new-game-txt-l: #636363;

  --new-game-menu-txt-l: #828282;
  --new-game-menu-bkg-l: #fdfdfd;
  --new-game-menu-out-l: #ebebeb;
  --new-game-menu-hov-l: #ebebeb;

  --done-bkg-l: #fdfdfd;
  --done-txt-l: #6a89cc;
  --done-out-l: #e0e6f3;
  --done-hov-l: #e0e6f3;

  --popup-bkg-l: #ededed;
  --popup-txt-l: #b0b0b0;

  --btn-out-l: #ebebeb;
  --btn-hov-l: #ebebeb;
  --btn-txt-l: #828282;

  --color-0-l: #c1eddd;
  --color-1-l: #e6f2d3;
  --color-2-l: #fee0cb;
  --color-3-l: #fec3bf;

  --sudoku-out-tiles-l: #d8d8d8;
  --sudoku-out-board-l: #636363;

  --sudoku-tile-fill-0-l: #fdfdfd;
  --sudoku-tile-fill-1-l: #ebebeb;
  --sudoku-tile-text-0-l: #6a89cc;
  --sudoku-tile-text-1-l: #636363;
  --sudoku-tile-text-err-l: red;

  --sudoku-selector-l: #6a89cc;

  --sudoku-out-guess-0-l: #f7f7f7;
  --sudoku-out-guess-1-l: #b1b1b1;

/*************************** COLOR SETUP ***************************/

  --bg: var(--bg-d);

  --new-game-bkg: var(--new-game-bkg-d);
  --new-game-txt: var(--new-game-txt-d);

  --new-game-menu-txt: var(--new-game-menu-txt-d);
  --new-game-menu-bkg: var(--new-game-menu-bkg-d);
  --new-game-menu-out: var(--new-game-menu-out-d);
  --new-game-menu-hov: var(--new-game-menu-hov-d);

  --done-bkg: var(--done-bkg-d);
  --done-txt: var(--done-txt-d);
  --done-out: var(--done-out-d);
  --done-hov: var(--done-hov-d);

  --popup-bkg: var(--popup-bkg-d);
  --popup-txt: var(--popup-txt-d);

  --btn-out: var(--btn-out-d);
  --btn-hov: var(--btn-hov-d);
  --btn-txt: var(--btn-txt-d);

  --color-0: var(--color-0-d);
  --color-1: var(--color-1-d);
  --color-2: var(--color-2-d);
  --color-3: var(--color-3-d);

  --notes-bkg: var(--bg);
  --notes-out: var(--btn-out);
  --notes-hov: var(--btn-hov);
  --notes-txt: var(--btn-txt);

  --sudoku-out-tiles: var(--sudoku-out-tiles-d);
  --sudoku-out-board: var(--sudoku-out-board-d);

  --sudoku-tile-fill-0: var(--sudoku-tile-fill-0-d);
  --sudoku-tile-fill-1: var(--sudoku-tile-fill-1-d);
  --sudoku-tile-text-0: var(--sudoku-tile-text-0-d);
  --sudoku-tile-text-1: var(--sudoku-tile-text-1-d);
  --sudoku-tile-text-err: var(--sudoku-tile-text-err-d);

  --sudoku-selector: var(--sudoku-selector-d);

  --sudoku-out-guess-0: var(--sudoku-out-guess-0-d);
  --sudoku-out-guess-1: var(--sudoku-out-guess-1-d);
}

/*************************** FONTS ***************************/

@font-face {
  font-family: 'Open Sans';
  src: url('fonts/OpenSans-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Open Sans Bold';
  src: url('fonts/OpenSans-Bold.ttf') format('truetype');
}

/*************************** SETUP ***************************/

button:focus {
  outline: 0;
}

input:focus {
  outline: 0;
}

* {
  text-align: center;
  font-family: Open Sans, sans-serif;
  background-color: var(--bg);
  margin: 0;
  cursor: auto;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*************************** TOP MENU BAR ***************************/

#main-menu {
  margin-bottom: 10px; /*47*/
}

.main-menu-adjust-margin {
  margin-bottom: 10px !important;
}

#difficulty {
  color: var(--btn-txt);
  font-size: 16px;
  padding-top: 6px;
  padding-bottom: 6px;
  margin-right: 14px;
}

#difficulty b {
  font-family: Open Sans Bold;
  font-size: 16px;
}

#new-game {
  font-size: 16px;
  background-color: var(--new-game-bkg);
  color: var(--new-game-txt);
  border-radius: 4px;
  padding: 8px;
  border:none;
}

#share-board {
  font-size: 16px;
  color: var(--sudoku-selector);
  border-radius: 4px;
  margin-left: 8px;
  padding: 8px;
  border:none;
}

#link {
  font-size: 0px;
  width: 0px;
  height: 0px;
  border: none;
  pointer-events: none;
}

/*************************** TOGGLE BUTTON ***************************/

.toggle {
  position: relative;
  display: inline;
  margin-right: 16px;
}

.tgl {
  display: none;
}

.tgl, .tgl:after, .tgl:before, .tgl *, .tgl *:after, .tgl *:before, .tgl + .tgl-btn {
  box-sizing: border-box;
}

.tgl::-moz-selection, .tgl:after::-moz-selection, .tgl:before::-moz-selection, .tgl *::-moz-selection, .tgl *:after::-moz-selection, .tgl *:before::-moz-selection, .tgl + .tgl-btn::-moz-selection {
  background: none;
}

.tgl::selection, .tgl:after::selection, .tgl:before::selection, .tgl *::selection, .tgl *:after::selection, .tgl *:before::selection, .tgl + .tgl-btn::selection {
  background: none;
}

.tgl + .tgl-btn {
  outline: 0;
  display: inline-block;
  top: 7px;
  width: 40px;
  height: 25px;
  position: relative;
}

.tgl + .tgl-btn:after, .tgl + .tgl-btn:before {
  position: relative;
  display: block;
  content: "";
  width: 50%;
  height: 100%;
}

.tgl + .tgl-btn:after {
  left: 0;
}

.tgl + .tgl-btn:before {
  display: none;
}

.tgl:checked + .tgl-btn:after {
  left: 50%;
}

.tgl + .tgl-btn {
  padding: 2px;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
  border: 4px solid var(--toggle-d);
  border-radius: 25px;
}

.tgl + .tgl-btn:after {
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
  background: var(--toggle-d);
  content: "";
  border-radius: 12px;
}

.tgl:checked + .tgl-btn {
  border: 4px solid var(--toggle-l);
}

.tgl:checked + .tgl-btn:after {
  left: 50%;
  background: var(--toggle-l);
}

/*************************** BOARD SHARE POPUP ***************************/

#popup-txt {
  font-size: 12px;
  padding: 4px;
  padding-left: 8px;
  padding-right: 8px;
  background-color: var(--popup-bkg);
  color: var(--popup-txt);
  border: 1px solid;
  border-radius: 4px;
  border-color: var(--popup-bkg);
}

.visible {
  opacity: 1;
  transition: opacity 0.5s linear;
} 

.hidden {
  opacity: 0;
  transition: visibility 0s 1s, opacity 1s linear;
}  

/*************************** NEW GAME OPTIONS ***************************/

.secondary-menu {
  margin-bottom: 10px;
}

.new-game-difficulty {
  display: none;
}

.new-game-difficulty button {
  font-size: 12px;
  padding: 4px;
  padding-left: 8px;
  padding-right: 8px;
  background-color: var(--new-game-menu-bkg);
  color: var(--new-game-menu-txt);
  border: 1px solid;
  border-color: var(--new-game-menu-out);
}

.new-game-difficulty button:hover {
  background-color: var(--new-game-menu-hov); /*var(--new-game-menu-hov);*/
}

#custom {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

#hard {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.done {
  display: none;
  font-size: 12px;
  padding: 4px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: var(--done-bkg);
  color: var(--done-txt);
  border: 1px solid;
  border-color: var(--done-out);
  border-radius: 4px;
}

.done b {
  background-color: transparent;
  font-family: Open Sans Bold;
}

.done:hover {
  background-color: var(--done-hov);
}

/*************************** HIDE/SHOW TOGGLE ***************************/

.show {
  display: inline;
}

.hide {
  display: none;
}

/*************************** CANVAS SETUP ***************************/

.wrap {
  position: absolute;
}

.wrapper {
  position: relative;
  width: 450px;
  height: 450px;
  margin: auto;
  margin-bottom: 25px; /*47*/
  z-index: 1;
}

.wrapper canvas {
  background-color: transparent !important;
  position: absolute;
  left: 0;
}

#guesses {
  z-index: 1;
}

#board {
  z-index: 2;
}

#selector {
  z-index: 3;
}

/*************************** COLOR BUTTONS ***************************/

.color {
  width: 50px;
  height: 15px;
  border: none;
  border-radius: 4px;
  margin-bottom: 15px;
}

#c0 {
  background-color: var(--color-0);
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

#c1 {
  background-color: var(--color-1);
  border-radius: 0px;
}

#c2 {
  background-color: var(--color-2);
  border-radius: 0px;
}

#c3 {
  background-color: var(--color-3);
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

/*************************** NUMBER/NOTES BUTTONS ***************************/

.btn {
  width: 48px;
  height: 48px;
  font-size: 28px;
  background-color: var(--bg);
  color: var(--btn-txt);
  border: 2px;
  border-style: solid;
  border-radius: 4px;
  border-color: var(--btn-out);
  margin-bottom: 4px;
  margin-right: 4px;
}

.btn:hover {
  background-color: var(--btn-out);
}

#notes {
  width: 48px;
  height: 48px;
  font-size: 28px;
  background-color: var(--bg);
  color: var(--btn-txt);
  border: 2px;
  border-style: solid;
  border-radius: 4px;
  border-color: var(--btn-out);
}

#notes:hover {
  background-color: var(--btn-out);
}

#notes:focus {
  outline: none;
}

.disabled:hover {
  background-color: var(--bg) !important;
}

.selected {
  background-color: var(--btn-out) !important;
}